<!-- Page Banner Area Start -->
<div id="page-banner-area" class="page-banner-area section" style="background-image: url({{aboutCoverImage}})">
    <div class="container">
      <div class="row">
        <div class="page-banner-title text-center col-12">
          <h2>KOFC 9544</h2>
        </div>
      </div>
    </div>
  </div>
  <!-- Page Banner Area End -->
  
  <!-- About Area Start -->
  <div id="about-area" class="about-area section pb-60 pt-60">
    <div class="container">
      <div class="row flex-column flex-lg-row-reverse">
        <!-- About Image -->
        <div class="about-image col-lg-5 col-12">
          <img src="{{aboutSideImage}}" alt="About MamboleFC">
        </div>
        <!-- About Content -->
        <div class="about-content about-content-2 col-lg-7 col-12">
            <h1>Who Are We</h1>
            <p>
            The Knights of Columbus is also the world's largest Catholic fraternal service organization, with more than 2.1 million members in countries around the world, including the United States, Canada, Mexico, the Philippines, Cuba, Dominican Republic, Poland, Lithuania, Ukraine, the Bahamas, and South Korea. The founding members chose to call its members knights in recognition of the mission of Christian Knights who led lives of virtue, defended the faith and served those in need. 
            </p>
            <p>
            As a fraternal benefit society, the Knights of Columbus offers life insurance and other benefits to its members and their families residing in the United States and Canada. 
            </p>
            
            <p>
            The Knights of Columbus operates through and maintains an active system of local and state councils that conduct extensive charitable and volunteer programs.
             </p>
             
            <h1>What We Do</h1>
            <p>
            Faith in Action
        </p>
            
            The Knights of Columbus offers men a place to lead their families and communities in faith and service and put their Faith into Action. Knights of Columbus members, parishes and families have the opportunity to make a meaningful difference through more than 30 programs.
            
             
            <p>
            Organized under Faith, Family, Community and Life categories, the "Faith in Action" program model empowers Knights to come together to share faith, celebrate fraternity with loved ones, and do what they do best — stand shoulder to shoulder in service to the community and to defend life at all stages and in every condition.
            </p>
             
            <h1>Our Community Action</h1>
            <p>
            As Knights of Columbus, we are called to serve our family and our God. Our first principle is Charity, at home with our families or in our communities. This is a critical part of our Knights of Columbus mission. Have you ever wondered, “How can i make my community better?” individuals can do great things on their own but there is something bigger than self when Knights of Columbus members come together as one through their council and accomplish great things. 
            </p>
             
            
            <h1>Vounteering</h1>
            <p>
            Members volunteer at the Kanata Foodbank, the Arthritis Society, the St. Vincent de Paul Society, Blood Donor Clinics, at community breakfasts and many other organizations.
            </p>
             
            
             
            
            <h1>Holy Redeemer Council 9544 - Kanata, Ontario</h1>
            <p>
            For more information about Holy Redeemer Council go to our Website:  www.kofc9544.ca
            </p>
        </div>
      </div>
    </div>
  </div>
  <!-- About Area End -->
  