<!-- Page Banner Area Start -->
<div id="page-banner-area" class="page-banner-area section" style="background-image: url({{golfCoverImage}})">
    <div class="container">
      <div class="row">
        <div class="page-banner-title text-center col-12">
          <h2>Tournament Info</h2>
        </div>
      </div>
    </div>
  </div>
  <!-- Page Banner Area End -->

  <!-- About Area Start -->
  <div id="about-area" class="about-area section pb-60 pt-60">
    <div class="container sponsor">
      <div class="row flex-column flex-lg-row-reverse">
        <!-- About Image -->
        <div class="about-image col-lg-5 col-12">
          <img src="{{golfSideImage}}" alt="About MamboleFC">
        </div>
        <!-- About Content -->
        <div class="about-content about-content-2 col-lg-7 col-12">
            <h3>Knights of Columbus 9544 Annual Charity Golf Tournament</h3>
            <ul>
              <li>Date: Tuesday, May 21, 2024</li>
              <li>Loch March Golf & Country Club:  1755 Old Carp Rd., Kanata, ON K2K 1X7</li>
              <li>Registratiion: $175 per golfer (includes green fees, golf cart, and buffet supper)</li>
              <li>Maximum 4 golfers per team</li>
            </ul>

            <h3 class="pt-50">Agenda</h3>

            <ul>

            <li>
            Registration starts at 11:00 a.m
        </li>
            <li>
            Raffle Board and Silent Auction 11:00 a.m. - 5:45 p.m.
        </li>
        <li>
            Shotgun Start: 1:00 p.m.
        </li>
        <li>
            Play ends at: 5:30 p.m.
        </li>
        <li>
            Dinner at 6:00 pm
        </li>
        <li>
            Prizes and Silent Auctions results at: 6:45 p.m - 7:45 p.m.
        </li>
        </ul>
        </div>
      </div>
    </div>
    <div class="container pt-20">
        <div class="row">
          <div class="col-lg-8 col-md-7 col-12 mb-30">
            <div class="sponsor-form">
              <div class="form">
                <h3>Contact us if you have any questions</h3>
                <form [formGroup]="contactForm">
                  <input type="text" name="name" placeholder="Name" [formControlName]="'name'">
                  <input type="text" name="emailOrPhone" placeholder="Email Or Phone Number" [formControlName]="'emailOrPhone'">
                  <input type="text" name="subject" class="full" placeholder="Subject" [formControlName]="'subject'">
                  <textarea name="message" placeholder="Comments/Questions?" [formControlName]="'message'"></textarea>
                  <button (click)="submitToContactUs()" class="submit">Send</button>
                </form>
              </div>
            </div>
            <div class="success hide">
              <h4>You have successfully sent the message</h4>
            </div>
            <div class="fail hide">
              <h4>An error occurred. Submission was not sent. Please try again later</h4>
            </div>
          </div>
        </div>
      </div>
  </div>
  <!-- About Area End -->
