<!-- Page Banner Area Start -->
<div id="page-banner-area" class="page-banner-area section" style="background-image: url({{aboutCoverImage}})">
  <div class="container">
    <div class="row">
      <div class="page-banner-title text-center col-12">
        <h2>Why Join the Knights?</h2>
      </div>
    </div>
  </div>
</div>
<!-- Page Banner Area End -->

<!-- About Area Start -->
<div id="about-area" class="about-area section pb-60 pt-60">
  <div class="container">
    <div class="row flex-column flex-lg-row-reverse">
      <!-- About Image -->
      <div class="about-image col-lg-5 col-12">
        <img src="{{aboutSideImage}}" alt="About MamboleFC">
      </div>
      <!-- About Content -->
      <div class="about-content about-content-2 col-lg-7 col-12">
        <h3>Why you should become a Knight</h3>
        <p>
        If you’re interested in helping those in need, serving your parish, growing in your faith or having exclusive access to top-rated insurance protection for your family, then the Knights of Columbus is the organization for you.
        </p>
        <p>
          Becoming a Knight of Columbus can transform your life. As a Knight, you have the opportunity to support your parish, give back to your community, grow in your faith and gain exclusive access to our top-rated insurance program to protect your family.
        </p>
        <h3>Good Works</h3>
        <p>
        Faith by itself if it has no works is dead (James 2.14).  All the good works we do are informed by our four core principles:
        </p>
        <p>
          <em>Charity</em> - Our Catholic faith teaches us to “Love thy neighbor as thyself.” Members of the Knights of Columbus show love for their neighbors by conducting food drives and donating the food to local soup kitchens and food pantries, by volunteering at Special Olympics, and by supporting, both spiritually and materially, mothers who choose life for their babies. Knights recognize that our mission, and our faith in God, compels us to action. There is no better way to experience love and compassion than by helping those in need, a call we answer every day.
        </p>
        <p>
          <em>Unity</em> – None of us is as good as all of us. Members of the Knights of Columbus all know that – together – we can accomplish far more than any of us could individually. So we stick together…we support one another. That doesn’t mean that we always agree or that there is never a difference of opinion. It does mean that – as a Knight of Columbus – you can count on the support and encouragement of your brother Knights as you work to make life better in your parish and community.
        </p>
        <p>
          <em>Fraternity</em> – The Venerable Michael J. McGivney founded the Knights of Columbus, in large part, to provide assistance to the widows and children left behind when the family breadwinner died – often prematurely. The Order’s top-rated insurance program continues to do this today, as do individual Knights, who last year gave more than 10 million hours of their time to assist sick and/or disabled members and their families. In the Knights of Columbus, we watch out for and take care of one another.
        </p>
        <p>
          <em>Patriotism</em> – Members of the Knights of Columbus are patriotic citizens. We are proud of our devotion to God and country, and believe in standing up for both. Whether it’s in public or private, the Knights remind the world that Catholics support their nations and are amongst the greatest citizens.
        </p>
        <h3>Some of the reasons to become a Knight</h3>
        <p>
        We are a band of brothers, a network of men in communities around the world dedicated to doing good in the service of God and our neighbor.
        </p>
        <p>
        In addition to the Order’s stated benefits, Catholic men were drawn to the Knights because of its emphasis on serving one’s Church, community and family with virtue.
        </p>
        <p>
        The Knight’s Five-Point Program of Service encourages councils to play a more active role in the life of the local parish and community, and included five categories: Church, Youth, Family, Council and Community.
        </p>

         

        <h3>One Christian Family</h3>
        <p>
        On the Role of the Christian Family in the Modern World, Pope John Paul II wrote, “The future of humanity passes by way of the family” (Familiaris Consortio, 86). The pope’s emphasis on the central importance of the family for the health of the Church and society reinforces the Knights’ mission. Likewise, when John Paul II published an apostolic exhortation on the role of the laity in 1988 and an encyclical on the Gospel of Life in 1995, the Order urged Catholics everywhere to embrace these teachings and even published study guides to accompany the documents.
        </p>
        <p>
        In Evangelium Vitae, the pope called the Church “a people of life and for life,” a description that the Knights seek to live up to through personal witness and efforts to build a pro-life culture.
        </p>
        <p>
        The Knights have countless opportunities to practice what John Paul II called “a charity which evangelizes.”
        </p>
        <p>
        Pope Benedict XVI, in his first encyclical, Deus Caritas Est, wrote that a Christian must have “a heart which sees” — that is, which “sees where love is needed and acts accordingly.” For Knights, this often means recognizing where people are most in need and responding with material or volunteer support.
        </p>
        <p>
        Finally, just as they responded to the forces of secularism and prejudice in the past, Knights have stood by their bishops and have witnessed to the importance of religion and religious liberty for society. As the cause for canonization of Venerable Michael McGivney moves forward, so too do his Knights, seeking to build a civilization of love.
        </p>




        <p>
          The Knights of Columbus is the world's largest Catholic fraternal service organization, with more than 2.1 million members in countries around the world, including the United States, Canada, Mexico, the Philippines, Cuba, Dominican Republic, Poland, Lithuania, Ukraine, the Bahamas, and South Korea. The founding members chose to call its members knights in recognition of the mission of Christian Knights who led lives of virtue, defended the faith and served those in need.
        </p>
        <p>
          As a fraternal benefit society, the Knights of Columbus offers life insurance and other benefits to its members and their families residing in the United States and Canada.
        </p>

        <p>
          The Knights of Columbus operates through and maintains an active system of local and state councils that conduct extensive charitable and volunteer programs.
        </p>

        <h3>What We Do</h3>

        <h4> <strong><i>Faith in Action</i></strong></h4>

        <p>
          The Knights of Columbus offers men a place to lead their families and communities in faith and service and put their Faith into Action. Knights of Columbus members, parishes and families have the opportunity to make a meaningful difference through more than 30 programs.
        </p>

        <p>
          Organized under Faith, Family, Community and Life categories, the "Faith in Action" program model empowers Knights to come together to share faith, celebrate fraternity with loved ones, and do what they do best — stand shoulder to shoulder in service to the community and to defend life at all stages and in every condition.
        </p>

        <h4><strong><i>Our Community in Action</i></strong></h4>
        <p>
          As Knights of Columbus, we are called to serve our family and our God. Our first principle is Charity, at home with our families or in our communities. This is a critical part of our Knights of Columbus mission. Have you ever wondered, “How can i make my community better?” individuals can do great things on their own but there is something bigger than self when Knights of Columbus members come together as one through their council and accomplish great things.
        </p>


        <h4><strong><i>Volunteering</i></strong></h4>
        <p>
          Members volunteer at the Kanata Foodbank, the Arthritis Society, the St. Vincent de Paul Society, Blood Donor Clinics, at community breakfasts and many other organizations.
        </p>




        <h4><strong><i>Holy Redeemer Council 9544 - Kanata, Ontario</i></strong></h4>
        <p>
          For more information about Holy Redeemer Council go to <a href="https://www.kofc9544.ca" target="_blank">www.kofc9544.ca</a>
        </p>
      </div>
    </div>
  </div>
</div>
<!-- About Area End -->
