<div id="page-banner-area" class="page-banner-area section" style="background-image: url({{golfCoverImage}})">
  <div class="container">
    <div class="row">
      <div class="page-banner-title text-center col-12">
        <h2>{{title}}</h2>
      </div>
    </div>
  </div>
</div>
<!-- Page Banner Area End -->

<div class="container">

<lightgallery [settings]="settings" [onBeforeSlide]="onBeforeSlide">
    <ng-template ngFor let-image [ngForOf]="galleries">
    <a
    data-pinterest-text="Pin it1"
    data-tweet-text="lightGallery slide  1"
    data-facebook-share-url="share/facebook-share-url"
    data-twitter-share-url="share/twitter-share-url"
    data-pinterest-share-url="share/pinterest-share-url"

    href="{{image | formatImage:'big'}}" >
        <img alt="{{image.description}} - Knights of Colombus" alt="{{image.key}}" src="{{image | formatImage}}"  style="border:10px solid white;" />
    </a>
    </ng-template>
</lightgallery>

</div>
