<!-- Page Banner Area Start -->
<div id="page-banner-area" class="page-banner-area section ddd" style="background-image: url({{golfCoverImage}})">
    <div class="container">
      <div class="row">
        <div class="page-banner-title text-center col-12">
          <h2>tournament registration</h2>
        </div>
      </div>
    </div>
  </div>
  <!-- Page Banner Area End -->

  <div id="contact-area" class="contact-area section pb-60 pt-60">
    <div class="container about-content sponsor">


      <div class="row flex-column flex-lg-row-reverse">
        <div class="about-image col-lg-5 col-12">
          <img src="{{golfSideImage}}" alt="About MamboleFC">
        </div>
        <div class="about-content about-content-2 col-lg-7 col-12">

          <h3>Calling all golfers!</h3>
          <p>
          May 2024 is quickly approaching and the Knights of Columbus Council 9544 is looking forward
          to hosting our Annual Charity Golf Tournament at the Loch March Golf &amp; Country Club in
          Kanata.
          </p>
          <p>
          Please complete the registration form below and join us on May 21, 2024 for a wonderful day
          of golf, followed by a buffet supper with a Silent Auction. There will also be a Raffle Board and
          lots of prizes to be won.
          </p>
          <p>
          Registration costs $175/person (maximum 4 players per team), which includes green fees, a
          golf cart and the buffet supper. Please note that individual golfers will be placed into teams on
          the day of the event.
          </p>
          <p>
            Thank you in advance for your participation and for helping raise funds for our charities.This year proceeds will support three local charities:
          </p>
          <ul class="pb-20">
            <li>The Youville Centre</li>
            <li>The Catholic Centre for Immigrants</li>
            <li>Shepherds of Good Hope - Hope Living Centre in Kanata</li>
          </ul>
          <p>
            To register, please complete the form below. Register by <strong>May 2nd</strong>.
          </p>

          <div class="contact-form">
            <div class="form">
              <h3>Registration Form</h3>
              <form [formGroup]="registrationForm">

                <input type="text"  class="full" name="team_name" placeholder="Team Name (optional)" [formControlName]="'team_name'">
                <!-- Emails -->
                <div class="mt-8">
                  <div formArrayName="players" class="space-y-4">
                    <div *ngFor="let player of playersForm.controls; let playerIndex = index" [formGroupName]="playerIndex">
                      <div class="flex">
                        <div *ngIf="playerCheck[playerIndex].get('player').invalid && (playerCheck[playerIndex].get('player').dirty || playerCheck[playerIndex].get('player').touched)" class="invalid-feedback">
                          <div *ngIf="playerCheck[playerIndex].get('player').errors['required']">
                            This player {{playerIndex+1}} name field is required.
                          </div>
                          <div *ngIf="playerCheck[playerIndex].get('player').errors['minlength']">
                            This player {{playerIndex+1}} field must have at least 1 character.
                          </div>
                          <div *ngIf="playerCheck[playerIndex].get('player').errors['maxlength']">
                            This player {{playerIndex+1}} field must have at most 250 characters.
                          </div>
                        </div>
                        <input type="text"  class="full"  placeholder="Player {{playerIndex+1}} Name"  [formControlName]="'player'" />
                        <div *ngIf="playerCheck[playerIndex].get('email').invalid && (playerCheck[playerIndex].get('email').dirty || playerCheck[playerIndex].get('email').touched)" class="invalid-feedback">
                          <div *ngIf="playerCheck[playerIndex].get('email').errors['required']">
                            This player {{playerIndex+1}} email field is required.
                          </div>
                          <div *ngIf="playerCheck[playerIndex].get('email').errors['minlength']">
                            This player {{playerIndex+1}} email field must have at least 1 character.
                          </div>
                          <div *ngIf="playerCheck[playerIndex].get('email').errors['maxlength']">
                            This player {{playerIndex+1}} email field must have at most 250 characters.
                          </div>
                        </div>
                        <input type="email" class="full" placeholder="Player  {{playerIndex+1}} Email"  [formControlName]="'email'" ngModel [email]="true">

                        <div *ngIf="playerCheck[playerIndex].get('phone').invalid && (playerCheck[playerIndex].get('phone').dirty || playerCheck[playerIndex].get('phone').touched)" class="invalid-feedback">
                          <div *ngIf="playerCheck[playerIndex].get('phone').errors['required']">
                            This player {{playerIndex+1}} phone field is required.
                          </div>
                          <div *ngIf="playerCheck[playerIndex].get('phone').errors['minlength']">
                            This player {{playerIndex+1}} phone field must have at least 1 character.
                          </div>
                          <div *ngIf="playerCheck[playerIndex].get('phone').errors['maxlength']">
                            This player {{playerIndex+1}} phone field must have at most 250 characters.
                          </div>
                        </div>
                        <input type="text" class="full" placeholder="Player {{playerIndex+1}} Phone Number"   [formControlName]="'phone'">                      </div>
                    </div>
                  </div>
                  <div id="AddPlayer" style="margin:20px 0 20px 6px;" class="about-content">
                    <a style="cursor: pointer;" (click)="addEmailField()">Add a Player</a>
                  </div>
                </div>


                <textarea name="body" placeholder="Food Allergies / Dietary Restrictions" [formControlName]="'body'"></textarea>
                <button (click)="submitToRegister()" class="submit">Send Registration</button>
              </form>
            </div>
          </div>
          <div class="success hide">
            <h4>You have successfully registered for the tournament.</h4>
          </div>
          <div class="fail hide">
            <h4>Registration error. Please try again later</h4>
          </div>
          <p class="pt-30">
            Alternatively, you can complete the fillable version of the registration form <a download="https://media.tc-testing.xyz/koc-2024-registration.pdf" href="http://media.tc-testing.xyz/koc-2024-registration.pdf">Here</a>.
          </p>
          <p>
            Please send the completed form by  email to <strong>Richard Van Loon</strong>
          </p>
          <div>
            <p class="pt-30">
              Please send payment via e-transter to <strong>golfregistration&#64;kofc9544.ca</strong> OR by mail and cheque payable to <strong>Knights of Columbus 9544 Charity Golf Tournament</strong>.
            </p>
            <p>
              For additional information, please contact <strong>Richard Van Loon</strong>, Registration Coordinator, at <a href="maito:golfregistration&#64;kofc9544.ca">golfregistration&#64;kofc9544.ca</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Contact Area End -->
