<!-- Page Banner Area Start -->
<div id="page-banner-area" class="page-banner-area section ddd" style="background-image: url({{golfCoverImage}})">
    <div class="container">
      <div class="row">
        <div class="page-banner-title text-center col-12">
          <h2>tournament registration</h2>
        </div>
      </div>
    </div>
  </div>
  <!-- Page Banner Area End -->

  <div id="contact-area" class="contact-area section pb-60 pt-60">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-7 col-12 mb-30">
          <div class="contact-form">
            <div class="form">
              <h4>Registration Form</h4>
              <form [formGroup]="registrationForm">

                <input type="text"  class="full" name="team_name" placeholder="Team Name (optional)" [formControlName]="'team_name'">
                <!-- Emails -->
                <div class="mt-8">
                  <div formArrayName="players" class="space-y-4">
                    <div *ngFor="let player of playersForm.controls; let playerIndex = index" [formGroupName]="playerIndex">
                      <div class="flex">

                        <input type="text"   placeholder="Player {{playerIndex+1}} Name"  [formControlName]="'player'" />
                        <input type="email"  placeholder="Player  {{playerIndex+1}} Email"  [formControlName]="'email'" ngModel [email]="true">
                        <input type="text"  placeholder="Player {{playerIndex+1}} Phone Number"   [formControlName]="'phone'">
                      </div>
                    </div>
                  </div>
                  <div id="AddPlayer">
                    <button class="ml-2 font-medium text-secondary group-hover:underline"  (click)="addEmailField()">Add a Player</button>
                  </div>
                </div>


                <textarea name="body" placeholder="Food Allergies / Dietary Restrictions" [formControlName]="'body'"></textarea>
                <button (click)="submitToRegister()" class="submit">Send</button>
              </form>
            </div>
          </div>
          <div class="success hide">
            <h4>You have successfully registered for the tournament. Please send xxx via e-transter to email&#64;test.com or contact Richard Van Loon at 613-111-1111</h4>
          </div>
          <div class="fail hide">
            <h4>Registration error. Please try again later</h4>
          </div>

        </div>
      </div>
    </div>
  </div>
  <!-- Contact Area End -->
