
<!-- Page Banner Area Start -->
<div id="page-banner-area" class="page-banner-area section" style="background-image: url({{recipientsCoverImage}})">
    <div class="container">
      <div class="row">
        <div class="page-banner-title text-center col-12">
          <h2>charities</h2>
        </div>
      </div>
    </div>
  </div>
  <!-- Page Banner Area End -->

    <!-- Staff Area Start -->
    <div id="staff-area" class="staff-area section pb-120 pt-120">
        <div class="container">
            <div class="row">
                <h3>Recipients</h3>
                <ul>
                    <li>Shephers of Good Hope</li>
                    <li>Youville Centre</li>
                    <li>Catholic Centre for Immigrants</li>
                </ul>
            </div>

        </div>
    </div>
